<h1>Editing Book</h1>

<% if @book.errors.any? %>

  <%if @book.errors.count == 1 %>
    <%= @book.errors.count %> error prohibited this book from being saved:
    <br><% @book.errors.full_messages.each do |message| %></br>
      <%= message %>
    <% end %>

  <% else %>
    <%= @book.errors.count %> errors prohibited this book from being saved:
    <br><% @book.errors.full_messages.each do |message| %></br>
      <%= message %>
    <% end %>
  <% end %>

<% end %>

<%= form_with model:@book, url:"/todolists/#{@book.id}",local:true do |f| %>

  <h4>Title</h4>
  <p><%= f.text_field :title %></p>

  <h4>Body</h4>
  <p><%= f.text_area :body %></p>

  <br><%= f.submit 'Update Book' %></br>

<% end %>

<span>
  <%= link_to 'Show', todolist_path(@book.id) %>
</span>

<span>
  <%= link_to 'Back', "/todolists" %>
</span>
